.notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 37.5rem;
  width: 100%;
  padding: 3.75rem 1.25rem;
}

.notFoundContent {
  height: auto;
  max-width: 50rem;
  padding: 3.75rem;
  background-color: var(--pi-c9);
}

.notFoundContentHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.625rem;
}

.notFoundContentHeader svg {
  font-size: 2.25rem;
  transform: translateY(-0.875rem);
  color: var(--pi-c7);
}

.notFoundContentText {
  font-family: var(--content-font);
  font-size: 1rem;
  color: var(--pi-c4);
  line-height: 1.6;
}

.notFoundContentText p {
  margin-bottom: 1.25rem;
}

.notFoundContentText a {
  color: var(--pi-c7);
}

@media (max-width: 56.25rem) {
  .notFoundContent {
    padding: 2.5rem 1.25rem;
  }
}

@media (max-width: 37.5rem) {
  .notFoundContentHeader {
    flex-wrap: wrap;
    gap: 1.25rem;
  }
  .notFoundContentHeader svg {
    display: block;
    margin: 0 auto;
    transform: none;
  }
}
