.serviceCard {
  min-height: max-content;
  width: 100%;
  box-shadow: var(--shadow-md);
  border: 1px solid var(--pi-c1);
  border-radius: 0.25rem;
  overflow: hidden;
  flex-shrink: 16.875rem;
  flex-basis: 16.875rem;
  flex-grow: 1;
}

.serviceCardHeader {
  position: relative;
  height: 10rem;
  width: 100%;
  margin-bottom: 1.5625rem;
}

.serviceCardImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.serviceCardGradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, var(--pi-g0));
  opacity: 0.4;
  z-index: 1;
}

.serviceCardContent {
  width: 100%;
  padding: 1.25rem;
  overflow-y: auto;
}

.serviceCardIcon {
  position: absolute;
  height: 3.125rem;
  width: 3.125rem;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 1.5625rem);
  z-index: 2;
}

.serviceCardContent h2 {
  position: relative;
  text-align: center;
  font-family: var(--title-font);
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--pi-c4);
  margin-bottom: 2.5rem;
}

.serviceCardContent h2::after {
  content: "";
  display: block;
  height: 0.125rem;
  width: 3.125rem;
  position: absolute;
  left: calc(50% - 1.5625rem);
  bottom: -1.25rem;
  background-color: var(--pi-c8);
}

.serviceCardContent p {
  font-size: 1rem;
  font-family: var(--content-font);
  color: var(--pi-c4);
  line-height: 1.6;
}
