.partner {
  height: 9.375rem;
  min-width: 15.625rem;
  border-radius: 0.25rem;
  background-color: var(--pi-c0);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-md);
  cursor: grab;
}

.partner:last-of-type {
  margin-right: 2.25rem;
}

.partnerLogo {
  max-height: 40%;
  max-width: 60%;
  width: auto;
}

@media (max-width: 31.25rem) {
  .partner {
    height: 6.25rem;
    min-width: 8.75rem;
  }
  .partner:last-of-type {
    margin-right: 1.25rem;
  }
}
