.slider {
  padding: 3.75rem 1.25rem;
  overflow: hidden;
}

.sliderItems {
  position: relative;
  min-height: 16.25rem;
  width: 100%;
  overflow: hidden;
  margin-bottom: 2.5rem;
  border-radius: 0.25rem;
}

@media (max-width: 56.25rem) {
  .sliderItems {
    min-height: 25rem;
  }
}

@media (max-width: 31.25rem) {
  .slider {
    padding: 2.5rem 1.25rem;
  }
  .sliderItems {
    min-height: 28.125rem;
  }
}
